
.container {
  overflow: scroll;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}
ul li{
  margin: 5px;
}

.Form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 10px;
}

.select-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.prediction-closed,
.prediction-success,
.prediction-acquired {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.prediction-closed {
  background-color: #ff4d4d;
  color: #fff;
}

.prediction-success {
  background-color: #00cc66;
  color: #fff;
}

.prediction-acquired {
  background-color: #ff9933;
  color: #fff;
}
